html {
    touch-action: manipulation;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-bottom-5 {
    padding-top: 5px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-20 {
    padding-top: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-left-10 {
    padding-left: 10px !important;
}

.padding-right-20 {
    padding-right: 20px;
}

.inp-01 {
    border-radius: 0;
}

.btn, .form-control, .alert, .dropdown-menu {
    border-radius: 0;
}

.btn-red {
    background: #e94d1c;
    color: #fff;
}

.btn-green {
    background: #44C464;
    color: #fff;
}

.navbar{
    border-radius: 0;
}

.navbar-light {
    background: #fff;
    color: #000;
    border-radius: 0;
    border: none;
}

.font-12 {
    font-size: 12px !important;
}

.font-13 {
    font-size: 13px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-18 {
    font-size: 18px !important;
}

.font-25 {
    font-size: 25px !important;
}

.height-50 {
    height: 50px;
}

.require-character {
    color: red;
}

.color-white{
    color: #ffffff;
}