img{
	border: none;
}
       #secwrapper{
	margin: auto;
	
	padding-top: 20px; 
}
article{
	width: 220px;
	
	display: inline-block;
	vertical-align: top;
	border: 1px solid #c8c8c8;
	 margin: 5px;
	margin-bottom: 20px;
	padding: 7px;
	border-radius: 3px;
	box-shadow: 0 2px 3px #ccc;
	background-color: white;
	*display:inline;
    zoom:1;
}

.readmore{
	background-color: black;
	padding: 5px 10px;
	color: white;
	text-decoration: none;
	border-radius: 3px;
	display: inline-block;
}
.readmore:hover{
	background-color: #383838;
}
article p{
	margin-bottom: 5px;
    word-wrap: break-word;
    overflow-y: hidden;
    width: 100%;
    height: 44px;
    margin-top: 5px;
}


 .old_ie article, .old_ie .readmore{
    display: inline;
    zoom: 1;
}
.img-news{height:200px;
    width: 100%;
    object-fit: cover;}
	


	.ribbon {
    position: absolute;
    top: 10px;
    left: -5px;
    padding: 6px;
}
.ribbon-content{
    position: relative; 
   
}
.ribbon.base-alt {
    background: #9cd70e;
    color: #fff;
 
}
.ribbon.red {
    background: #e91b23;
    color: #fff;
   
}
.ribbon:before, .ribbon:after {
    content: '';
    position: absolute;
    left: -9px;
    border-left: 10px solid transparent;
}
.ribbon:before {
    top: 0px;
}
.ribbon:after {
    bottom: 0;
}
.ribbon.base-alt:before {
    border-top: 27px solid #9cd70e;
}
.ribbon.base-alt:after {
    border-bottom: 27px solid #9cd70e;
}
.ribbon.red:before {
    border-top: 27px solid #e91b23;
}
.ribbon.red:after {
    border-bottom: 27px solid #e91b23;
}
.new-not-discount{top:50px;}
.ribbon span {
    display: block;
    font-size: 16px;
    font-weight: 600;
}

@media (min-width: 641px) {
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	padding-left:0px;
}}
@media (max-width: 500px) {
	.ribbon-content{
    position: relative; 
   left:20vw;
}
}
